.search {
  display: flex;
  font-size: $font-size-huge;
  border-radius: 4px;
  overflow: hidden;
}

.search__input {
  outline: none;
  background-color: $beige;
  border: none;
  padding: .5rem;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: all .3s;
  width: 40rem;

  &:focus,
  &:focus + .search__button {
    border-bottom: 2px solid $yellow;
  }
}

.search__button {
  background-color: $light-grey;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: all .3s;

  &:hover {
    background-color: darken($light-grey, 10);
  }
}

.search__icon {
  margin: 0;
  width: 2.25rem;
  height: 2.25rem;
  fill: $dark;
}