// Colors
$off-white: #F9F8F4;
$dark-grey: #333;
$light-grey: #F1F0EB;
$grey: #666;
$dark: #2A222D;
$red: #BC0402;
$yellow: #ECBB5C;
$beige: #D4CAB1;
$light-red: #FF6E69;

// Font Sizes
$font-size-huge: 2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

